<!DOCTYPE html>
<html ng-app="projet" lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<p>LISTE DES QUESTIONS DU QUIZZ</p>

<div class="fluid-container" ng-controller="QuestionController as ctrl" ng-init="ctrl.deleteAll()">
    <ul class="list-group">
        <li ng-repeat="(questionIntitule,reponses) in ctrl.questions " class="list-group-item">
            <ul>{{questionIntitule}}<br/>
                <li ng-repeat="reponse in reponses" class="list-group-item">
                    <button type="button" ng-class="questionIntitule" ng-click="ctrl.valider(questionIntitule,reponse.id)" class="btn">{{reponse.reponse}}</button><br />
                </li>
            </ul>

        </li>
    </ul>

    <form action="score.html">
        <input type="hidden" name="nbQuestions" ng-value="ctrl.param1" />
        <a href="questionsquizz.html"> <input type="submit" value="Lancer"> </a>
    </form>

</div>
<script>
    angular.module("projet", []).controller("QuestionController", function ($http) {

        var url=window.location.search;
        var param1=url.substring(1,url.indexOf('&'));
        param1=param1.substring(param1.indexOf('=')+1,param1.length);
        var param2=url.substring(url.indexOf('&')+1);
        param2=param2.substring(param2.indexOf('=')+1,param2.length);
        console.log("param1 :"+ param1);
        console.log("param2 :"+ param2);
        var that = this;
        $http({
            method: 'GET',
            url: 'http://localhost:8080/api/questions/'+ param1
        }).then(function successCallback(response) {
            that.questions = response.data;
            that.param1= param1;
        });

        var refreshSelected = function (questionId) {
            this.selected = {};
            $http({
                method: 'GET',
                url: 'http://localhost:8080/api/questions/'+ param1 + questionId
            }).then(function successCallback(response) {
                that.selected = response.data;
            });

        };
        this.loadModal = function (questionId) {
            refreshSelected(questionId);
        }

        this.valider= function (question,reponse){
            console.log("VALIDER "+question);
            console.log("REPONSE "+reponse);
            var boutons = document.getElementsByClassName(question);
            for (var i = 0; i < boutons.length; i++) {
                boutons[i].disabled = true;
            }
            $http({
                method: 'POST',
                url: 'http://localhost:8080/api/reponsesUtilisateurs',
                data: reponse
            }).then(function successCallback(response) {
                refreshSelected(that.selected.id);
            });
        }

        this.deleteAll= function(){
            $http({
                method: 'DELETE',
                url: 'http://localhost:8080/api/deleteReponses',
            }).then(function successCallback(response) {
                refreshSelected(that.selected.id);
            });
        }

    });
</script>

</body>
</html>