<!DOCTYPE html>
<html ng-app="projet" lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<p>RESULTAT DU QUIZZ</p>

<div class="fluid-container" ng-controller="ScoreController as ctrl">
    <ul class="list-group">
        <li ng-repeat="(score,nbrQuestions) in ctrl.resultats " class="list-group-item">
            VOTRE SCORE EST DE {{score}} SUR {{nbrQuestions}} !!
            VOUS AVEZ EU {{(score/nbrQuestions)*100}} % DE BONNES REPONSES
            <p>Entrer votre nom et votre prenom pour enregistrer votre score !</p>
            <form action="enregistrement.html">
                <label><b>Nom de l'utilisateur</b></label>
                <input type="text" placeholder="Entrer votre nom" ng-model="ctrl.nom" required>

                <label><b>Prenom de l'utilisateur</b></label>
                <input type="text" placeholder="Entrer votre prenom" ng-model="ctrl.prenom" required>

                <button type="button"  ng-click="ctrl.enregistrerScore((score/nbrQuestions)*100)" class="btn">ENREGISTRER LE SCORE</button>
            </form>
        </li>
    </ul>

</div>

<a href="index.html"> <input type="button" value="Retour a l'accueil"> </a>

<script>
    angular.module("projet", []).controller("ScoreController", function ($http) {
        var url=window.location.search;
        var param=url.substring(url.indexOf('=')+1,url.length);
        console.log("param : "+param);
        var that = this;
        $http({
            method: 'GET',
            url: 'http://localhost:8080/api/resultats/'+param
        }).then(function successCallback(response) {
            that.resultats = response.data;
        });

        var refreshSelected = function (resultatId) {
            this.selected = {};
            $http({
                method: 'GET',
                url: 'http://localhost:8080/api/resultats/' +param+ utilisateurId
            }).then(function successCallback(response) {
                that.selected = response.data;
            });

        };
        this.loadModal = function (resultatId) {
            refreshSelected(resultatId);
        }

        this.enregistrerScore = function (score){
            var utilisateurData = {"nom":this.nom,"prenom":this.prenom,"score":score};
            $http({
                method: 'POST',
                url: 'http://localhost:8080/api/scores',
                data: utilisateurData
            }).then(function successCallback(response) {
                refreshSelected(that.selected.id);
            });
        }

    });
</script>

</body>
</html>